@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1rem);
}

@media (prefers-contrast: more) {
    button,
    .filter {
        box-shadow: inset 0 0 0 2px #fff;
    }
}

* {
    box-sizing: border-box;
    transition: 0.2s background-color, 0.2s padding;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: none;
    border-radius: var(--border-radius);
    height: 50px;
    font-size: inherit;
    font-weight: bold;
    padding: 0 var(--padding-normal);

    &:hover {
        background-color: var(--color-btn-bg-hover);
    }
}

img {
    display: block;
    max-width: 100%;
}

section > h2 {
    text-align: center;
}

input,
textarea {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: var(--padding-small) var(--padding-normal);
    font-size: 1rem;
    font-family: inherit;
    height: 50px;

    &:user-invalid {
        border-color: var(--color-error);
        outline: var(--color-error) auto 1px;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.skip-link {
    position: absolute;
    z-index: 99999;
    inset-inline-start: var(--padding-normal);
    inset-block-start: -100%;
    background-color: var(--color-primary);
    color: var(--color-header-bg);
    text-decoration: none;

    &:focus,
    &:focus-visible {
        inset-block-start: var(--padding-normal);
    }
}

.header {
    background-color: var(--color-header-bg);
    padding: var(--padding-small);
    color: var(--color-header-text);
    text-align: center;
    position: sticky;
    top: 0;

    .header__branding,
    .header__nav {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .header__branding {
        h1,
        h2 {
            margin: 0;
        }
    }

    .header__nav {
        margin: 0 auto;

        .menu {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: var(--gap);

            .menu__item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-primary);
                border-radius: var(--border-radius);

                &:hover {
                    color: var(--color-header-bg);
                    background-color: var(--color-primary);
                }

                .menu__link {
                    color: inherit;
                    height: 50px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    padding: var(--padding-small) var(--padding-normal);
                }
            }
        }
    }
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-large) var(--padding-normal);
    flex: 1;
}

.footer {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    text-align: center;
    padding: var(--padding-small);
}
/* секция с информацией */
.info {
    display: flex;
    gap: var(--gap-large);
    padding: var(--padding-normal);

    .info__photo {
        border-radius: 50%;
        inline-size: clamp(150px, 22vw, 200px);
        block-size: auto;
        object-fit: cover;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .info__content {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        flex: 1;

        .info__resume {
            width: fit-content;
        }
    }
}
/* секции навыков и курсов */
.skills,
.courses {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .skills-container,
    .courses-container {
        display: grid;
        gap: var(--gap);
        grid-template-columns: auto 1fr auto;

        .skill__progress,
        .course__progress {
            height: 20px;
            background-color: var(--color-bg-secondary);
            border-radius: var(--border-radius);
            overflow: hidden;

            .progress__bar {
                background-color: var(--color-primary);
                height: inherit;
            }
        }

        .skill__percent,
        .course__percent {
            font-weight: bold;
            text-align: right;
        }
    }
}
/* секция с карточками проектов */
@container projects (min-width: 540px) {
    .projects__cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    }
}
.projects {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--padding-normal);
    container-type: inline-size;
    container-name: projects;

    .projects__header {
        display: flex;
        align-items: center;

        .header__title {
            flex: 1;
            margin: 0;
        }

        .sorting {
            display: flex;
            gap: var(--gap);
            overflow-x: auto;
        }
    }

    .projects__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap-large);

        .project-card {
            background-color: var(--color-bg-secondary);
            border-radius: var(--border-radius);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .project-card__image {
                width: 100%;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }

            .project-card__title {
                margin: 0;
                padding: var(--padding-normal);
            }

            .project-card__description {
                color: var(--color-text-secondary);
                padding: 0 var(--padding-normal);
            }
        }
    }
}

/* модалка с подробной информацией о проекте */
.project-modal {
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding-normal);
    background-color: var(--color-bg-secondary);
    animation: modal 0.2s ease-in-out;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        animation: modal-backdrop 0.2s ease;
    }

    .project-modal__header {
        display: flex;

        .project-modal__title {
            flex: 1;
            margin: 0;
        }

        .project-modal__close {
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    .project-modal__tags {
        display: flex;
        gap: var(--gap-small);
        flex-wrap: wrap;

        .project-modal__tag {
            background-color: var(--color-primary);
            padding: var(--padding-small) var(--padding-normal);
            border-radius: var(--border-radius);
            font-size: 0.9rem;
        }
    }

    .project-modal__screenshots {
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        .screenshot {
            border-radius: var(--border-radius);
            height: 200px;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
}

@keyframes modal {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes modal-backdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* секция с моим учебным прогрессом */
.my-progress {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .schedule {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        background-color: var(--color-bg-secondary);
        padding: var(--padding-normal);
        border-radius: var(--border-radius);

        .schedule__item {
            display: flex;
            align-items: center;
            gap: var(--gap);

            .schedule__date {
                color: var(--color-text-secondary);
            }

            .schedule__name {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .schedule__status {
                border-radius: var(--border-radius);
                min-width: 32px;
                min-height: 32px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .schedule__item--completed {
            .schedule__status {
                background-color: var(--color-success);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3C!-- Icon from Charm Icons by Jay Newey - https://github.com/jaynewey/charm-icons/blob/main/LICENSE --%3E%3Cpolyline fill='none' stroke='%230b4e1b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' points='2.75 8.75 6.25 12.25 13.25 4.75'/%3E%3C/svg%3E");
            }
        }

        .schedule__item--in-progress {
            .schedule__status {
                background-color: var(--color-warning);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Lets Icons by Leonid Tsvetkov - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='none' stroke='%235f4b0f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6V3m0 18v-2m7-7h2M3 12h3m11.657-5.657l.707-.707M5.636 18.364L7.05 16.95m9.9 0l1.414 1.414M5.636 5.636l2.121 2.121'/%3E%3C/svg%3E");
            }
        }
    }
}
/* секция с курсами */
.courses {
    .courses__new {
        width: fit-content;
    }
}
/* секция с формой обратной связи */
.contact-me {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        background-color: var(--color-box);
        padding: var(--padding-normal) var(--padding-large);
        border-radius: var(--border-radius);
    }
}
/* секция моих контактов */
.contacts {
    .contact-info {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);

        .contact-info__item {
            display: flex;
            align-items: center;
            gap: var(--gap-small);
        }
    }
}
/* адаптив */
@media screen and (max-width: 500px) {
    .header .header__nav .menu {
        flex-direction: column;
        gap: var(--gap-small);
    }

    .info {
        flex-direction: column;
        align-items: center;

        .info__content {
            align-items: center;
        }
    }

    .projects .projects__header {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap);
    }
}
