:root {
    --color-primary: hsl(120, 89%, 45%);
    --color-secondary: hsl(120, 89%, 40%);

    --color-header-bg: hsl(120, 89%, 18%);
    --color-header-text: #ffffff;

    --color-btn-bg: #6ee546;
    --color-btn-text: #000000;
    --color-btn-bg-hover: #4eb62b;

    --color-bg: #e3e3e3;
    --color-bg-secondary: #ffffff;
    --color-box: #fff;
    --color-text: #000;
    --color-text-secondary: #757575;

    --color-border: #dcdcdc;

    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;

    --border-radius: 16px;

    --padding-normal: 1rem;
    --padding-large: 24px;
    --padding-small: 8px;

    --gap: clamp(1rem, 1rem + 1vw, 1.5rem);
    --gap-large: clamp(2rem, 1rem + 1vw, 2.5rem);
    --gap-small: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}
